// MOBILE
  // font-size
$li-font: 14px;
$label-font: 20px;
$mobile-font: 17px;
$mobile-toogle-font: 26px;
    // MEDIUM-SCREEN
    $mid-font: 24px;
  // page-style
$dark-style: rgb(0, 0, 0);
$red-style: rgb(205, 4, 4);


  // font-color
$hover-effect: rgb(205, 4, 4);
$white-font: rgb(255, 255, 255);
$mainmenu-font: rgb(255, 255, 255);
$submenu-font: rgb(0, 0, 0);
  //font-style
$basic-font: 'Oswald';
$special-font: 'open sans';
  // margin
$stable-margin-left: 25px;
