body
{
	background-image: url("img/dark_wall.png");
	margin: 0;
	font-family: 'Exo', sans-serif;	
}
#container
{
	margin-top: 20px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;	
}
#wrapp
{
	min-width: 800px;
	height: 1300px;
	display: flex;
	display: -webkit-flex;
	background-color: #f0f0f0;
}
#leftside
{
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url("img/wavegrid.png");
	width: 300px;
	height: 1300px;
	border-right: 1px solid grey;
	padding-left: 10px;
	padding-right: 10px;
}
.myself
{
	background-image: url("img/myself.png");
	width: 270px;
	height: 210px;
	background-repeat: no-repeat;
	margin-top: 10px;
	align-self: center;
	-webkit-align-self: center;
}
.name
{
	font-size: 26px;
	align-self: center;
	-webkit-align-self: center;
	margin: 20px;	
}
.personal_details, .education
{
	width: 170px;
	border-bottom: 2px solid #bfbfbf;
	font-size: 22px;
	align-self: center;
	-webkit-align-self: center;
	text-align: center;
	font-weight: 500;
	margin: 20px;	
}
.personal_details_components, .education_components 
{
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	justify-content: center;
	-webkit-justify-content: center;
}
ol
{
	margin: 0;
	padding: 0;
	list-style: none;
	align-self: center;	
	-webkit-align-self: center;	
}
ol > ul
{
	font-size: 17px;
	font-weight: 600;
	text-decoration: none;
	align-self: center;
	-webkit-align-self: center;
	margin: 0;
	padding: 0;
}
ol > li
{
	align-self: center;
	-webkit-align-self: center;
	margin: 5px;
	font-size: 16px;
}
li > a
{
	color: black;
}
li > a:hover
{
	color: red;	
}
.languages
{
	width: 170px;
	border-bottom: 2px solid #bfbfbf;
	font-size: 22px;
	align-self: center;
	-webkit-align-self: center;
	text-align: center;
	font-weight: 500;
	margin: 20px;	
}
.languages_components, .interests_components
{
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	justify-content: center;
	-webkit-justify-content: center;
}
.interests
{
	width: 170px;
	border-bottom: 2px solid #bfbfbf;
	font-size: 22px;
	align-self: center;
	-webkit-align-self: center;
	font-weight: 500;
	margin: 10px;	
}
.approval
{
	margin: 50px 24px 0 24px;
}

p.approval
{
	font-size: 10px;
	opacity: 0.7;
	text-align: justify;
}

#rightside
{
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	width: 500px;
	height: 1300px;
	padding: 20px;
}
.experience, .workshops, .abilities
{
	margin: 10px 30px 30px 30px;
	width: 400px;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
}
.about_me
{
	margin: 10px 30px 30px 30px;
	width: 400px;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
}
.label
{
	font-size: 26px;
	width: 400px;
	border-bottom: 1px solid black;
}
p
{
	font-size: 15px;
	text-align: justify;
}
ul.experience_list
{
	font-size: 15px;
	margin: 0 0 10px 0;
	padding: 0;
	font-weight: 500;
}
ul.experience_list > li
{
	padding: 5px;
	margin-left: 16px;
	font-weight: 400;
}
p.experience_list_two
{
	font-size: 17px;
}
.content
{
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	margin-top: 15px;	
}
img
{
	padding-right: 20px;
	margin: 0;
}

.font_name
{
	padding-right: 30px;
	padding-left: 8px;
	font-size: 14px;
	font-weight: 600;
}
.font_name_end
{
	margin-left: -5px;
	font-size: 14px;
	font-weight: 600;
}
.font_items
{
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	justify-content: lex-start;
	-webkit-justify-content: lex-start;
	margin-top: 10px;
}
ul.list_workshop
{
	margin: 0;
	padding: 15px 0 0 20px;
}
ul.list_workshop > li
{
	padding-bottom: 20px;
	font-size: 16px;
	text-align: justify;	
	-webkit-text-align: justify;	
}
